.contacto{
    border-right: 3px solid #EAEAEA;
    padding: 10px 30px;
    flex-basis: 50%;
  }
.info{
    margin-bottom: 5px;
}

.info i{
    background-color: #e37e0b;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
}

.ref i{
    font-size: 2em;
    color: #574127;
    padding: 10px;
}

.refnombre{
    font-weight: 500;
}

.refcargo{
    padding-left: 55px;
}

.enlaces img{
    display:block;

margin-left: auto;

margin-right: auto;
    max-width: 150px;
}

h2{
    text-align: center;
}

.he5{
    text-align: center;
}

hr{
    border-bottom: 4px solid #574127;
    width: 50%;
    margin: 5px auto;
}